<footer>
    <div>
        <img src="../img/logo.jpg" alt="">
    </div>
    <div class="middle">
        <h1>Contact</h1>
        <p>Telephone: 000-000-000</p>
        <p>Email: fake@email.fake</p>
    </div>
    <div>
        <h1>About this website</h1>
        <p>Website to keep track of your vaccinations.</p>
        <p>Made by Mathilda B.</p>
    </div>
</footer>
</body>
</html>