<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaccia</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="/img/logo2.jpg">
</head>
<body>
<header>
    <img src="../img/logo2.jpg" alt="">
    <nav>
        <a class="aBorder" href="/user/addAppointment">ADD APPOINTMENT</a>
        <a href="/start">
            <h1>VACCIA</h1>
        </a>
        <a class="aBorder" href="/user/addVaccine">ADD VACCINATIONS</a>
    </nav>
    <div class="user">
        <span class="material-icons"> perm_identity</span>
        <a href="/user"><%= username %></a>
    </div>
</header>