<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaccia</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../style/beforeIndex.css">
    <link rel="icon" href="/img/logo2.jpg">
</head>
<body class="index">
    <div class="signIn">
        <p>Already a user?</p>
        <a href="/signIn">Sign in</a>
    </div>
    <div class="welcome">
        <h1>Welcome to Vaccia</h1>
        <p>The website everyone needs.</p>
        <p>No matter who you are and where you come from, we all need a way to keep track of our vaccinations. Vaccia is here to help you do just that. It has never been easier to keep track of you and your familys vaccinations in one place. Create an account today to get access to all the features that Vaccia offers.</p>
        <br>
        <a href="/signUp">Sign up today</a>
    </div>
</body>
</html>