<%- include("header"); %>

<div class="frontContainer blog">
    <h1>Can I get vaccinated while pregnant?</h1>
    <img src="../img/vacc32.jpg" alt="">
    <p>Check out the links down below to find out more vaccination while pregnant.</p>
    <ul>
        <li>
            <a href="https://www.mayoclinic.org/healthy-lifestyle/pregnancy-week-by-week/expert-answers/vaccines-during-pregnancy/faq-20057799">Mayoclinic: Which vaccines during pregnancy are recommended and which ones should I avoid?</a>
        </li>
        <li>
            <a href="https://www.cdc.gov/vaccines/pregnancy/index.html">CDC: Pregnancy and vaccination</a>
        </li>
        <li>
            <a href="https://www.cdc.gov/vaccinesafety/concerns/vaccines-during-pregnancy.html">CDC: Vaccines During Pregnancy FAQs</a>
        </li>
        <li>
            <a href="https://www.nhs.uk/conditions/pregnancy-and-baby/vaccinations-pregnant/">NHS: Can I have vaccinations when I'm pregnant?</a>
        </li>
    </ul>

</div>

<%- include("footer"); %>