<%- include("header"); %>

<div class="frontContainer blog">
    <h1>Can and should I vaccinate my pet?</h1>
    <img src="../img/winston2.jpg" alt="">
    <p>Check out the links down below to find out more vaccinating your pet.</p>
    <ul>
        <li>
            <a href="https://www.aaha.org/your-pet/pet-owner-education/ask-aaha/Pet-Vaccination/">AAHA: Should my pet be vaccinated?</a>
        </li>
        <li>
            <a href="https://www.petful.com/pet-health/should-i-vaccinate-my-pet/">Petful: https://www.petful.com/pet-health/should-i-vaccinate-my-pet/</a>
        </li>
        <li>
            <a href="https://www.pdsa.org.uk/taking-care-of-your-pet/looking-after-your-pet/all-pets/why-vaccinating-your-pet-is-important">Pdsa: Why are vaccinations important for your pet?</a>
        </li>
        <li>
            <a href="https://www.vettails.com/vettails/pet-care-101-when-should-i-vaccinate-my-pet">Vettails: When should I vaccinate my pet?</a>
        </li>
    </ul>

</div>

<%- include("footer"); %>