<%- include("header"); %>

<div class="frontContainer blog">
    <h1>Should you vaccinate your child?</h1>
    <img src="../img/vacc1.jpeg" alt="">
    <p>We all wants whats best for our children. Click the links below to find out more about vaccinating children.</p>
    <ul>
        <li>
            <a href="https://www.who.int/health-topics/vaccines-and-immunization?gclid=CjwKCAjwq_D7BRADEiwAVMDdHgztzZLxoqQ02CQTVEIUcNALFqEezyIf3JpMSWsUP-9YdXlmKPqIDhoCw4cQAvD_BwE#tab=tab_1">Who: Vaccines and immunization</a>
        </li>
        <li>
            <a href="https://www.cdc.gov/vaccines/parents/why-vaccinate/vaccine-decision.html">CDC: Making the Vaccine Decision</a>
        </li>
        <li>
            <a href="https://www.vaccines.gov/get-vaccinated/for_parents/five_reasons">Vaccines: Five important reasons to vaccinate your child</a>
        </li>
        <li>
            <a href="https://www.caringforkids.cps.ca/handouts/when-parents-choose-not-to-vaccinate-risks-and-responsibilities">Caring for kids: When parents choose not to vaccinate</a>
        </li>
    </ul>

</div>

<%- include("footer"); %>